[Desktop Entry]
Icon=database-chakra
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcm_pacmanrepoeditor

X-KDE-Library=kcm_pacmanrepoeditor
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system-administration

Name=Chakra Repositories Editor
Name[it]=Editor repository di Chakra
Comment=Manage Chakra repositories
Comment[it]=Gestisci i repository di Chakra
X-KDE-Keywords=repository,editor
Categories=Qt;KDE;X-KDE-settings-system;
